
// Site stack
.stack, .page-stack
  > div 
    display: none
  > div.active 
    display: block

html, body
  margin: 0
  padding: 0

body
  background: #333333 url("images/bg.jpg") repeat-x
  border-top: 5px solid #000
  color: #fff
  font-family: 'Open Sans', Helvetica, sans-serif
  font-size: 15px

#app
  margin: 0 auto
  max-width: 960px
  overflow-x: hidden
  padding: 50px 0 0 0

  > .site-header
    padding: 27px 0

    .logo
      cursor: pointer
      font-size: 25px
      margin: 0.9em 0 0.67em 0

    .navigation
      margin: 27px 0 0 0
      text-align: right

    a
      border-bottom: 1px solid rgba(#fff, 0)
      color: #fff
      font-size: 11px
      font-weight: 600
      margin-left: 30px
      padding: 5px
      text-decoration: none
      text-transform: uppercase
      transition: all 0.25s ease-in-out

      &:hover
        border-bottom-color: rgba(#fff, 0.9)
        padding-bottom: 8px

      &.profile
        display: none

        &.signed-in
          display: inline-block


.zooniverse-footer
  color: #a9a9a9
  margin: 40px 0
  text-shadow: 1px 1px 0 #000