.organizations
  clearfix()
  border-top: 1px solid rgba(#000, 0.1)
  color: inherit
  margin: 0 20px
  padding: 20px 0

  ul
    @extends #semantic-list

    li
      float: left
      margin-right: 20px
      opacity: 0.5

      &:hover
        opacity: 1