#app > .stack > .home

  .splash
    background: #fff url(images/bg-home.jpg) no-repeat top left
    border: 5px solid rgba(0, 0, 0, 0.83)
    box-sizing: border-box
    color: #fff
    height: 510px
    padding: 60px 0 0 0
    text-align: center

    .pre-title
      font-size: 25px
      font-weight: 600
      line-height: 30px
      margin: 0 0 5px 0
      text-shadow: 1px 1px 6px #000

    .title
      font-size: 81px
      font-weight: 800
      letter-spacing: -2px
      line-height: 73px
      text-shadow: 1px 1px 6px #000
      text-transform: uppercase

    button
      background: #669933 url(images/button-green-bg.png) repeat-x left 40px
      border: 1px solid #395312
      border-radius: 3px
      box-shadow: 0px 0px 5px rgba(#000, .5)
      color: #fff
      font-size: 21px
      font-weight: 300
      margin: 82px 0 0 0
      padding: 23px 0
      text-shadow: 1px 1px rgba(0, 0, 0, 0.1)
      text-transform: uppercase
      width: 280px

      &:hover 
        background: #669933 url(images/button-green-bg.png) repeat-x left -20px

      &:active
        background: #669933 url(images/button-green-bg.png) repeat-x left bottom

  .get-involved

    .title
      font-size: 1.2em
      font-weight: 700

    p
      color: #666

  .users-participating
    background-image: url(images/home/laptop.png)
    background-position: top 20px right 0
    background-repeat: no-repeat

  #stats
    margin: 41px 0 45px 0

    .column
      background: #000
      box-sizing: border-box
      min-height: 113px
      padding: 26px 0 25px
      text-align: center

      .stat
        font-size: 41px
        font-weight: 600
        line-height: 1em
        margin-bottom: 3px

      .descriptor
        color: #666
        font-family: Helvetica, sans-serif


